.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 768px;
  margin: auto;
  background: rgba(253, 212, 70, 0.50);
  filter: blur(90.25169372558594px);
}